{% extends 'newsletter/base.html'%}
{% block content %}
{% load my_tags %}

<div class="container px-6 py-5" id="featured-3">

    <div class="row g-4 py-5 row-cols-1 row-cols-lg-4">
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#collection"/>
                </svg>
            </div>
            <h3 class="fs-2 text-body-emphasis">Newsletters</h3>
            <p>Total active: <br><strong>{{ all_newsletters.count }} newsletters</strong></p>
            <p>Launched: <br><strong>{{ all_newsletters_launched.count }} newsletters</strong></p>
            <p>Finished: <br><strong>{{ all_newsletters_finished.count }} newsletters</strong></p>
            <a href="{% url 'newsletter:newsletter_list'%}" class="icon-link">
                Newsletters list
                <svg class="bi">
                    <use xlink:href="#chevron-right"/>
                </svg>
            </a>
        </div>
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#toggles2"/>
                </svg>
            </div>
            <h3 class="fs-2 text-body-emphasis">Sendings</h3>
            <p>Total attempts: <br><strong>{{ all_attempts.count }} attempts</strong></p>
            <p>Successful: <br><strong>{{ attempts_success.count }} attempts</strong></p>
            <p>Success ratio: <br><strong>{{ success_ratio }}</strong></p>
            <a href="{% url 'newsletter:attempts_list' %}" class="icon-link">
                Attempts report
                <svg class="bi">
                    <use xlink:href="#chevron-right"/>
                </svg>
            </a>
        </div>
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#people-circle"/>
                </svg>
            </div>
            <h3 class="fs-2 text-body-emphasis">Clients</h3>
            <p>Total active: <br><strong>{{ all_clients.count }} clients</strong></p>
            <p>Signed up clients: <br><strong>{{ all_clients_signed_up.count }} clients</strong></p>
            <p>Signing up ratio: <br><strong>{{ signing_up_ratio }} clients</strong></p>
            <a href="{% url 'client:client_list'%}" class="icon-link">
                Clients list
                <svg class="bi">
                    <use xlink:href="#chevron-right"/>
                </svg>
            </a>
        </div>

        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                <div>
                    <h4 class="fst-italic">Check out our blogs</h4>
                    <ul class="list-unstyled">
                        {% for blog in blogs_to_show %}
                        <li>
                            <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                               href="{% url 'blog:blog_detail' blog.slug %}">

                                {% if blog.image %}
                                <img src="{% media_path blog.image %}" class="img-thumbnail" width="40%" height="70">
                                {% else %}
                                <svg class="img-thumbnail" width="130%" height="60">
                                    <rect width="100%" height="100%" fill="#777"/>
                                </svg>
                                {% endif %}
                                <div class="col-lg-8">
                                    <h6 class="mb-0">{{ blog.title }}</h6>
                                    <small class="text-body-secondary">{{ blog.created }}</small>
                                    <small class="text-body-secondary">{{ blog.views }} views</small>
                                </div>

                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}