{% extends 'newsletter/base.html'%}
{% block content %}

<div class="container py-3">
    <header>
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <a href="{% url 'newsletter:newsletter_list'%}"
               class="d-flex align-items-center link-body-emphasis text-decoration-none">
                <span class="fs-4">Back</span>
            </a>

            <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                <a class="btn btn-outline-info rounded-pill"
                   href="{% url 'newsletter:newsletter_update' object.slug %}">Edit content</a>
                <a class="btn btn-outline-warning rounded-pill"
                   href="{% url 'newsletter:newsletter_delete' object.slug %}">Delete</a>
            </nav>

        </div>
        <div>
            <p class="fw-bold fs-2">Technical info</p>
        </div>
        <div>
            <p class="fw-medium">Newsletter name - '{{object.newsletter}}'</p>
            <p class="fw-medium">Newsletter id - '{{object.pk}}'</p>
            <p class="fw-medium">Newsletter duration:
                <br>- from {{object.start_campaign}} <br>- to {{object.finish_campaign}}</p>
            <p class="fw-medium">Newsletter status - '{{object.status}}'</p>
            {% if object.status == 'launched'%}
            <p class="fw-medium">Newsletter regularity - '{{object.regularity}}'</p>
            {% endif %}
            <p class="fw-medium">Newsletter activity - {% if object.is_active %}'Active'{%else%}'Deactivated' and not in
                the list{%endif%}</p>
            <p class="fw-medium">Newsletter created - {{object.created}}</p>
            <p class="fw-medium">Newsletter user - {{object.newsletter_user}}</p>
        </div>
        <br><br>
        <div>
            <p class="fw-bold fs-2">Newsletter to be sent</p>
        </div>
        <div>
            <p class="fw-medium">Email subject: {{object.subject}}</p>
            <p class="fw-medium">Content: {{object.content}}</p>
        </div>
    </header>

</div>
{% endblock %}
