{% extends 'newsletter/base.html'%}
{% block content %}
{% load my_tags %}

<div class="container py-3">

    <header>
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <a class="icon-link icon-link-hover d-flex align-items-center link-body-emphasis text-decoration-none"
               style="margin-right: 30px;" href="{% url 'newsletter:index'%}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                </svg>
                Main page
            </a>
        </div>
    </header>

    {% if user|has_group:"manager" %}
    <div class="row col-8">
    {% else %}
    <div class="row col-6">
    {% endif %}
            <form class="form-control " method="get" action="{% url 'newsletter:attempts_list' %}" name="filter_form">
                <div class="row">
                    {% if user|has_group:"manager" %}
                    <div class="col-4">
                    {% else %}
                    <div class="col-8">
                    {% endif %}
                        <label>Select newsletter:</label>
                        <select class="form-select form-select-sm required" aria-label=".form-select-sm example"
                                name="filter_newsletter">
                                <option value='all'>
                                    All newsletters
                                </option>
                            {% for n in all_newsletters %}
                                <option value='{{n.pk}}'>{{n.newsletter}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    {% if user|has_group:"manager" %}
                    <div class="col-5">
                    <label>Select an owner:</label>
                        <select class="form-select form-select-sm required" aria-label=".form-select-sm example"
                                name="email_filter_user">
                                <option value="all">
                                    All users
                                </option>
                            {% for u in all_users %}
                                {% if request.user == u %}
                                    <option value='{{u.email}}' class="text-primary">{{u.email}}</option>
                                {% else %}
                                    <option value='{{u.email}}'>{{u.email}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    {% endif %}
                    <div class="col-3 d-flex justify-content-end align-items-center">
                        <button class="btn btn-secondary float-end"
                                type="submit" name="filter_form">Filter</button>
                    </div>
                </div>
            </form>
    </div>


    <div class="container d-flex justify-content-center align-items-start mt-3">
        <div class="container-fluid" style="max-height: 400px;
            overflow-y: auto;">
            <table class="table table-striped">
                <thead>
                <tr class="sticky-top">
                    <th scope="col">#</th>
                    <th scope="col">Newsletter</th>
                    <th scope="col">Date(from latest)</th>
                    <th scope="col">Attempt status</th>
                    <th scope="col">User</th>
                </tr>
                </thead>
                <tbody class="table-group-divider">

                {% for object in object_list %}
                        <tr>
                            <th scope="row">{{ object.pk}}</th>
                            <td><a href="{% url 'newsletter:attempt_responses_detail' object.pk %}">{{ object.newsletter }}</a>
                            </td>
                            <td>{{ object.last_attempt}}</td>
                            <td>{{ object.attempt_status}}</td>
                            {% if user == object.newsletter.newsletter_user %}
                            <td><strong class="text-primary">{{ object.newsletter.newsletter_user }}</strong></td>
                            {% else %}
                            <td>{{ object.newsletter.newsletter_user }}</td>
                            {% endif %}

                        </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    <br>
    <div>

    </div>
</div>
{% endblock %}