{% extends 'newsletter/base.html'%}
{% block content %}

<div class="container py-3">

    <header>
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <a href="{% url 'newsletter:index'%}"
               class="d-flex align-items-center link-body-emphasis text-decoration-none">
                <span class="fs-4">Back</span>
            </a>
        </div>
    </header>

    <div class="container d-flex justify-content-center align-items-start" style="min-height: 70vh;">
        <div class="container-fluid table-container">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Newsletter</th>
                    <th scope="col">Date(from latest)</th>
                    <th scope="col">Attempt status</th>
                    <th scope="col">User</th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                {% if user.is_authenticated %}
                {% for object in object_list %}
                {% if user.is_manager %}
                <tr>
                    <th scope="row">{{ object.pk}}</th>
                    <td><a href="{% url 'newsletter:attempt_responses_detail' object.pk %}">{{ object.newsletter }}</a>
                    </td>
                    <td>{{ object.last_attempt}}</td>
                    <td>{{ object.attempt_status}}</td>
                    <td>{{ object.newsletter.newsletter_user }}</td>
                </tr>
                {% else %}
                {% if user == object.newsletter.newsletter_user %}
                <tr>
                    <th scope="row">{{ object.pk}}</th>
                    <td><a href="{% url 'newsletter:attempt_responses_detail' object.pk %}">{{ object.newsletter }}</a>
                    </td>
                    <td>{{ object.last_attempt}}</td>
                    <td>{{ object.attempt_status}}</td>
                    <td>{{ object.newsletter.newsletter_user }}</td>
                </tr>
                {% endif %}
                {% endif %}
                {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <div>

    </div>
</div>
{% endblock %}