{% extends 'newsletter/base.html'%}
{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="container-fluid">
        <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Newsletter</th>
            <th scope="col">Attempt date</th>
            <th scope="col">Attempt status</th>
            <th scope="col">User</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {% if user.is_authenticated %}
        {% for object in object_list %}
        {% if user.is_manager %}
        <tr>
            <th scope="row">{{ object.pk}}</th>
            <td><a href="{% url 'newsletter:attempt_responses_detail' object.pk %}">{{ object.newsletter }}</a></td>
            <td>{{ object.last_attempt}}</td>
            <td>{{ object.attempt_status}}</td>
            <td>{{ object.newsletter.newsletter_user }}</td>
        </tr>
        {% else %}
        {% if user == object.newsletter.newsletter_user %}
        <tr>
            <th scope="row">{{ object.pk}}</th>
            <td><a href="{% url 'newsletter:attempt_responses_detail' object.pk %}">{{ object.newsletter }}</a></td>
            <td>{{ object.last_attempt}}</td>
            <td>{{ object.attempt_status}}</td>
            <td>{{ object.newsletter.newsletter_user }}</td>
        </tr>
        {% endif %}
        {% endif %}
        {% endfor %}
        {% endif %}
        </tbody>
        </table>
    </div>
</div>
<br>
<div>

</div>
{% endblock %}