{% extends 'newsletter/base.html'%}
{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="container-fluid">
        <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Newsletter</th>
            <th scope="col">Status</th>
            <th scope="col">Regularity</th>
            <th scope="col">Author</th>
            <th scope="col">Is active</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {% if user.is_authenticated %}
        {% for object in object_list %}
        {% if user.is_manager %}
        <tr>
            <th scope="row">{{ object.pk}}</th>
            <td><a href="{% url 'newsletter:newsletter_detail' object.slug %}">{{ object.newsletter }}</a></td>
            <td>{{ object.status}}</td>
            <td>{{ object.regularity}}</td>
            <td>{{ object.newsletter_user }}</td>
            <td>{{ object.is_active }}</td>
        </tr>
        {% else %}
        {% if user == object.newsletter_user %}
        <tr>
            <th scope="row">{{ object.pk}}</th>
            <td><a href="{% url 'newsletter:newsletter_detail' object.slug %}">{{ object.newsletter }}</a></td>
            <td>{{ object.status}}</td>
            <td>{{ object.regularity}}</td>
            <td>{{ object.newsletter_user }}</td>
            <td>{{ object.is_active }}</td>
        </tr>
        {% endif %}
        {% endif %}
        {% endfor %}
        {% endif %}
        </tbody>
        </table>
    </div>
</div>
<br>
<div>

</div>


{% endblock %}