{% extends 'newsletter/base.html'%}
{% block content %}
{% load my_tags %}


<div class="container py-3">
    <header>
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <a class="icon-link icon-link-hover d-flex align-items-center link-body-emphasis text-decoration-none"
               style="margin-right: 30px;" href="{% url 'newsletter:index'%}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                </svg>
                Main page
            </a>
            <a class="icon-link icon-link-hover d-flex align-items-center link-body-emphasis text-decoration-none"
               style="margin-left: 30px"
               href="{% url 'newsletter:control_panel'%}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                </svg>
                Newsletters control panel
            </a>

        </div>
    </header>

    <div class="container d-flex justify-content-center align-items-start mt-4" style="height: 30vh;">
        <div class="container-fluid table-container">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Newsletter</th>
                    <th scope="col">Status</th>
                    <th scope="col">Regularity</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Start time</th>
                    <th scope="col">Finish time</th>
                </tr>
                </thead>
                <tbody class="table-group-divider">

                {% for object in object_list %}
                {% if user|has_group:"manager" %}
                <tr>
                    <th scope="row">{{ object.pk}}</th>
                    {% if user == object.newsletter_user %}
                    <td><a class="text-success" href="{% url 'newsletter:newsletter_detail' object.slug %}"><strong>{{ object.newsletter }}</strong></a></td>
                    {% else %}
                    <td><a href="{% url 'newsletter:newsletter_detail' object.slug %}">{{ object.newsletter }}</a></td>
                    {% endif %}
                    <td>{{ object.status}}</td>
                    <td>{{ object.regularity}}</td>
                    {% if user == object.newsletter_user %}
                    <td><strong class="text-success">{{ object.newsletter_user }}</strong></td>
                    {% else %}
                    <td>{{ object.newsletter_user }}</td>
                    {% endif %}
                    <td>{{ object.start_campaign }}</td>
                    <td>{{ object.finish_campaign }}</td>
                </tr>
                {% else %}
                <tr>
                    <th scope="row">{{ object.pk}}</th>
                    <td><a href="{% url 'newsletter:newsletter_detail' object.slug %}">{{ object.newsletter }}</a></td>
                    <td>{{ object.status}}</td>
                    <td>{{ object.regularity}}</td>
                    <td>{{ object.newsletter_user }}</td>
                    <td>{{ object.start_campaign }}</td>
                    <td>{{ object.finish_campaign }}</td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <div class="m-4 float-end">
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                <a class="btn btn-outline-primary rounded-pill"
                   href="{% url 'newsletter:newsletter_create' %}">Create newsletter</a>
            </nav>
    </div>
</div>

{% endblock %}