{% extends 'newsletter/base.html'%}
{% block content %}


<div class="container py-3">

    <header>
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <a class="icon-link icon-link-hover d-flex align-items-center link-body-emphasis text-decoration-none"
               style="margin-right: 30px;" href="{% url 'newsletter:index'%}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                </svg>
                Main page
            </a>
            <a class="icon-link icon-link-hover d-flex align-items-center link-body-emphasis text-decoration-none"
               href="{% url 'newsletter:newsletter_list'%}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                </svg>
                Newsletter list
            </a>
        </div>
    </header>

    <div class="row align-items-center">
        <div class="col-sm-6">
            <form class="form-control" method="post">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        <h4>Launch a regular newsletter</h4>
                    </div>
                    <div class="card-body">
                        <p><strong>Select a newsletter:</strong></p>
                        {% if available_user_newsletters.count == 0 %}
                        <p>No available newsletters.</p>
                        <div class="card-footer">
                            <button class="btn btn-primary disabled" type="submit" name="newsletter_launch">Launch
                            </button>
                            <a class="btn btn-secondary disabled" href="{% url 'client:client_list' %}">Clients list</a>
                        </div>
                        {% else %}
                        <select class="form-select required" aria-label="Default select example"
                                name="pk_newsletter_launch"
                                required>
                            <option selected></option>
                            {% for n in available_user_newsletters %}
                            <option value='{{n.pk}}'>{{n}}</option>
                            {% endfor %}
                        </select>
                        <div class="card-footer">
                            <button class="btn btn-primary" type="submit" name="newsletter_launch">Launch</button>
                            <a class="btn btn-secondary" href="{% url 'client:client_list' %}">Clients list</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>

        <div class="col-sm-4">
            <form class="form-control" method="post">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        <h4>Terminate newsletter</h4>
                    </div>
                    <div class="card-body">
                        <p><strong>Select a launched newsletter:</strong></p>
                        {% if newsletters_list_launched.count == 0 %}
                        <p>No launched newsletters</p>
                        {% else %}
                        <select class="form-select required" aria-label="Default select example"
                                name="pk_newsletter_remove"
                                required>
                            <option selected></option>
                            {% for n in newsletters_list_launched %}
                            <option value='{{n.pk}}'>{{n}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="card-footer">
                        {% if perms.newsletter.remove_regular_newsletter %}
                        <button class="btn btn-danger" type="submit" name="newsletter_remove">Terminate</button>
                        {% else %}
                        <button class="btn btn-outline-secondary disabled" type="submit" name="newsletter_remove">
                            Terminate
                        </button>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>

<div class="row align-items-center mt-4">
<div class="col-sm-6">
        <form class="form-control" method="post">
            {% csrf_token %}
            <div class="card">
                <div class="card-header">
                    <h4>Send a one-off newsletter</h4>
                </div>
                <div class="card-body">
                    <p><strong>Select a newsletter:</strong></p>
                    {% if available_user_newsletters.count == 0 %}
                        <p>No available newsletters.</p>
                    {% else %}
                    <select class="form-select required" aria-label="Default select example" name="newsletter_one_off"
                            required>
                        <option selected></option>
                        {% endif %}
                        {% for n in available_user_newsletters %}
                        <option value='{{n.pk}}'>{{n}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary" type="submit">Send</button>
                    <a class="btn btn-secondary" href="{% url 'client:client_list' %}">Clients list</a>
                </div>
            </div>
        </form>
    </div>
</div>
</div>

{% endblock %}