{% extends 'newsletter/base.html'%}
{% block content %}

<div class="container py-3">
    <header>
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <a class="icon-link icon-link-hover d-flex align-items-center link-body-emphasis text-decoration-none"
               style="margin-right: 30px;" href="{% url 'newsletter:index'%}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                </svg>
                Main page
            </a>
            <a class="icon-link icon-link-hover d-flex align-items-center link-body-emphasis text-decoration-none"
               href="{% url 'client:client_list'%}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                </svg>
                Clients list
            </a>
        </div>
    </header>

    <div class="row container-fluid" style="max-height: 500px;
            overflow-y: auto;">
        <div class="col-sm-8 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-header">
                    <p class="fw-bold fs-2">Client details</p>
                </div>
                <div class="card-body">
                    <p class="fw-medium"><strong>Client name:</strong> {{object.name}}</p>
                    <p class="fw-medium"><strong>Client email:</strong> {{object.email}}</p>
                    <p class="fw-medium"><strong>Added by:</strong> {{object.user}}</p>
                    <p class="fw-medium"><strong>Added at:</strong> {{object.created}}</p>
                    <p class="fw-medium"><strong>Additional info:</strong> {{object.comments}}</p>
                    <p class="fw-medium"><strong>Is signed up:</strong> {% if object.is_signed_up %}Yes{% else %} No {% endif %}</p>
                    <p class="fw-medium"><strong>Is active:</strong> - {{object.is_active}}</p>
                </div>
                <div class="card-footer">
                      {% if user == object.user %}
            <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                <a class="btn btn-outline-info rounded-pill"
                   href="{% url 'client:client_update' object.slug %}">Edit</a>
                <a class="btn btn-outline-danger rounded-pill"
                   href="{% url 'client:client_delete' object.slug %}">Delete</a>
            </nav>
            {% else %}
            <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                <a class="btn btn-outline-info rounded-pill"
                   data-bs-toggle="popover"
                   data-bs-title="Access issue"
                   data-bs-content="You can only access and edit clients that have been added by you!">Edit</a>
                <a class="btn btn-outline-danger rounded-pill"
                   data-bs-toggle="popover"
                   data-bs-title="Access issue"
                   data-bs-content="You can only access and edit clients that have been added by you!">Delete</a>
            </nav>
            {% endif %}
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}
