{% extends 'newsletter/base.html'%}
{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="container-fluid">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Added by</th>
                <th scope="col">Is signed up</th>
                <th scope="col">Is active</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            {% if user.is_authenticated %}
            {% for object in object_list %}
            {% if user.is_manager %}
            <tr>
                <th scope="row">{{ object.pk}}</th>
                <td><a href="{% url 'client:client_detail' object.slug %}">{{ object.name }}</a></td>
                <td>{{ object.email}}</td>
                <td>{{ object.client_user}}</td>
                <td>{{ object.is_signed_up }}</td>
                <td>{{ object.is_active }}</td>
            </tr>
            {% else %}
            {% if user == object.client_user %}
            <tr>
                <th scope="row">{{ object.pk}}</th>
                <td><a href="{% url 'client:client_detail' object.slug %}">{{ object.name }}</a></td>
                <td>{{ object.email}}</td>
                <td>{{ object.client_user}}</td>
                <td>{{ object.is_signed_up }}</td>
                <td>{{ object.is_active }}</td>
            </tr>
            {% endif %}
            {% endif %}
            {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
<br>
<div>

</div>


{% endblock %}