{% extends 'newsletter/base.html'%}
{% block content %}
{% load my_tags %}

<div class="container py-3">
    <header>
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <a class="icon-link icon-link-hover d-flex align-items-center link-body-emphasis text-decoration-none"
               style="margin-right: 30px;" href="{% url 'newsletter:index'%}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                </svg>
                Main page
            </a>
            <a class="icon-link icon-link-hover d-flex align-items-center link-body-emphasis text-decoration-none"
               style="margin-right: 30px;" href="{% url 'users:send_newsletter_manager' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                </svg>
                One-time newsletter manage
            </a>
            <a class="icon-link icon-link-hover d-flex align-items-center link-body-emphasis text-decoration-none"
               href="{% url 'users:regular_newsletter_manager' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                </svg>
                Regular newsletter manager
            </a>
        </div>
    </header>

    <div>
        <p class="icon-link icon-link-hover d-flex align-items-center link-body-emphasis text-decoration-none">
        <strong>The list of currently active clients</strong>
            {% if user|has_group:"manager" or user.is_superuser %}
            <strong class="text-success">
            (*clients added by you, available for your newsletters and editing)</strong>
            {% endif %}
        </p>
    </div>

    <div class="container d-flex justify-content-center align-items-start mt-4">
        <div class="container-fluid">
            <table class="table table-striped">
                <thead>
                <tr class="sticky-top">
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Added by</th>
                    <th scope="col">Is signed up</th>
                    <th scope="col">Sign up toggle</th>

                </tr>
                </thead>
                <tbody class="table-group-divider">
                {% for object in object_list %}
                    {% if perms.client.view_client %}
                        {% if user == object.client_user %}
                        <tr>
                            <th class="text-success" scope="row">{{ object.pk}}</th>
                            <td class="text-success"><a class="text-success" href="{% url 'client:client_detail' object.slug %}"><strong>{{ object.name }}</strong></a></td>
                            <td class="text-success"><strong>{{ object.email}}</strong></td>
                            <td class="text-success"><strong>{{ object.client_user}}</strong></td>
                            <td class="text-success"><strong>{{ object.is_signed_up }}</strong></td>
                            <td>
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="pk_sign_up_toggle" value="{{ object.pk }}">
                                    <button class="btn btn-outline-primary" type="submit" name="sign_up_toggle">
                                        {% if object.is_signed_up %}Switch off
                                        {% else%} Switch on
                                        {% endif %}
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <th scope="row">{{ object.pk}}</th>
                            <td><a href="{% url 'client:client_detail' object.slug %}">{{ object.name }}</a></td>
                            <td>{{ object.email}}</td>
                            <td>{{ object.client_user}}</td>
                            <td>{{ object.is_signed_up }}</td>
                            <td>
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="pk_sign_up_toggle" value="{{ object.pk }}">
                                    <button class="btn btn-outline-secondary disabled" type="submit" name="sign_up_toggle">
                                        {% if object.is_signed_up %}Switch off
                                        {% else%} Switch on
                                        {% endif %}
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% endif %}
                    {% else %}
                        <tr>
                            <th scope="row">{{ object.pk}}</th>
                            <td><a href="{% url 'client:client_detail' object.slug %}">{{ object.name }}</a></td>
                            <td>{{ object.email}}</td>
                            <td>{{ object.client_user}}</td>
                            <td>{{ object.is_signed_up }}</td>
                            <td>
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="pk_sign_up_toggle" value="{{ object.pk }}">
                                    <button class="btn btn-outline-primary" type="submit" name="sign_up_toggle">
                                        {% if object.is_signed_up %}Switch off
                                        {% else%} Switch on
                                        {% endif %}
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="m-4 float-end">
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                <a class="btn btn-outline-primary rounded-pill"
                   href="{% url 'client:client_form' %}">Add client</a>
            </nav>
    </div>
</div>

{% endblock %}