{% extends 'newsletter/base.html'%}
{% block content %}

<div class="container d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="card">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="card-header">
                <h1>User data</h1>
            </div>

            <div class="card-body">
                <div class="form-group">
                    {% for field in form %}
                    {% if user.is_manager %}
                    {{ field.label_tag }} {{ field }}
                    {% else %}
                    {% if field.name != 'is_verified' and field.name != 'is_manager' %}
                    {{ field.label_tag }} {{ field }}
                    {% endif %}
                    {% endif %}
                    <br>
                    {% endfor %}
                </div>
            </div>

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">
                    Save
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock %}